* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Monaco';
	src: url('../fonts/Monaco.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	border: none;
	color: #2a2929;
}

body {
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Monaco', 'Courier New', Courier, monospace;
	text-transform: uppercase;
	font-weight: 500;
	color: #1d1c1c;
	margin-top: 0;
	letter-spacing: 0.9px;
	text-align: center;
}

p {
	font-size: 15px;
	font-family: 'Monaco', sans-serif;
	font-weight: 600;
}

.slider-overlay {
	background: rgba(0, 0, 0, .4);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
}

.homeslider {
	width: 100%;
	height: 100%;
	max-height: 100%;
	position: absolute;
}
.flexslider .slides {
	margin: 0;
	padding: 0;
}
.slides {
	height: 100%;
	max-height: 100%;
	list-style-type: none;
}

.slide1 {
	background: url('../images/Temp_Background.jpg') center center;
}
.bg {
	width: 100% !important;
	height: 100% !important;
	background-size: cover !important;
	position: absolute !important;
	z-index: 2 !important;
	background-attachment: fixed;
}
.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#heading {
	height: 100vh;
	width: 100%;
	position: relative;
	color: #fff;
}

#heading .banner {
	position: relative;
	z-index: 999;
}

.banner {
	display: table;
	width: 100%;
	height: 100%;
}

.bannerContent {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#text-slider {
	padding: 0px;
	background: transparent;
}

.slide-text {
	width: 90%;
	margin: 0 auto;
}
#heading .banner {
	position: relative;
	z-index: 999;
}

nav {
	text-align: center;
	position: -webkit-sticky;
}

.nav-link {
	padding: 5px;
}

.header-main {
	padding: 100px 0;
	text-align: center;
}

.header-main h2 {
	color: #fff;
	font-size: 70px;
	font-weight: 700;
	margin-bottom: 20px;
}

.header-main h3 {
	color: #fff;
	margin: 10px 0;
	font-size: 30px;
	letter-spacing: 2px;
}

.intro-btn-main {
	width: 100%;
	margin-top: 70px;
	margin-bottom: 20px;
	float: left;
	text-align: center;
}

.intro-btn-main .btn {
	border: 1px solid #fff !important;
}

.btn-primary {
	background: none;
	border: 2px solid #fff !important;
	padding: 10px 20px;
	box-shadow: none;
	border: none;
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	border-radius: 0px;
}

.main_content {
	margin: auto;
}

.anchor_grid {
	display: grid;
	grid-template-rows: auto;
	grid-template-areas: 'anchor' 'content';
}

.anchor_grid .nav-skip {
	grid-area: anchor;
	height: 8vh;
}

.anchor_grid .content {
	grid-area: content;
}

#about_me {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto;
	grid-template-areas: 'image content' 'image buttons';
}

#about_me .image {
	grid-area: image;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
}

#about_me .text {
	grid-area: content;
	margin-left: 2vw;
}

#circle {
	background: lightblue;
	position: relative;
	border-radius: 50%;
	width: 20vw;
	height: 20vw;
	overflow: hidden;
	margin: auto;
}

.introduction {
	grid-area: content;
	font-size: 18px;
	font-weight: bold;
	color: grey;
}

.shortcuts {
	grid-area: buttons;
	margin: auto;
	display: flex;
	align-items: center;
	justify-items: center;
}

button a {
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 2em;
	margin: -2em;
}

#my_projects {
	display: flex;
	flex-direction: column;
}

#my_projects .work {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'image content';
	margin: 1vw;
}

.work_heading {
	display: flex;
	height: auto;
}

.work_heading h4 {
	width: 50%;
	text-align: left;
}

.work .work_content {
	margin-left: 1vw;
}

@media screen and (max-width: 768px) {
	.header-main h2 {
		font-size: 40px;
	}

	.header-main h3 {
		font-size: 20px;
	}
}
@media screen and (max-width: 1000px) {
	#about_me {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 'nav' 'image' 'content' 'buttons';
	}

	#circle {
		background: lightblue;
		position: relative;
		border-radius: 50%;
		width: 65vw;
		height: 65vw;
		overflow: hidden;
		margin: auto;
	}
	.shortcuts {
		grid-area: buttons;
		margin: auto;
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-items: center;
	}

	#my_projects .work {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 'image' 'content';
		margin: auto;
		align-items: center;
	}
	.work .content {
		margin-top: 1vh;
	}
}
@media screen and (max-width: 1028px) {
	.intro-btn-main {
		margin-top: 30px !important;
	}
}
