{% extends 'layout.html' %}
{% block head %}
{% endblock %}


{% block header%}

{% endblock %}

{% block content %}
<div class="content-section">
        <form name ='about' method="POST" action="" enctype="multipart/form-data" onsubmit="return validateLinks()">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{legend}}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}

                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" id='about'>
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.thumbnails.label() }}
                    {{ form.thumbnails(class="form-control-file") }}
                    {% if form.thumbnails.errors%}
                        {% for error in form.thumbnails.errors %}
                            <spam class="text-danger">{{  error  }}</spam>
                        {%endfor%}
                    {%endif%}
                </div>
                <div class ='buttons'>
                    <div class="form-group">
                        {{ form.github_link.label(class="form-control-label") }}
                        {% if form.github_link.errors %}
                        {{ form.github_link(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.github_link.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.github_link(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.tags.label(class="form-control-label") }}
                        {% if form.tags.errors %}
                        {{ form.tags(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tags.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.tags(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                
                
                
            </fieldset>
            <div class="form-group" style='margin: auto;'>
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
  </div>
  
{% endblock content %}

{% block footer %}
{% endblock footer%}