{% extends 'layout.html' %}
{% block head %}
<style>
  body{
    height:100%;
  }

    .buttons{
        display:flex;
        width:100%;
        height:100%;
        flex-wrap: wrap;
    }

    .buttons>div{
      flex:0 50%;
      text-align: center;
    }

    .admin_button{
        padding:20vh;
    }


</style>
{% endblock %}


{% block header%}

{% endblock %}

{% block content %}

<div class="buttons">
  <div class="button"><a class="admin_button btn" href="{{ url_for('users.account')}}"> Edit your account</a></div>
  <div class="button"><a class="admin_button btn" href="{{ url_for('users.edit_about')}}">Edit your About_me</a></div>
  <div class="button"><a class="admin_button btn"href="{{ url_for('users.projects')}}">View your projects</a> </div>
  <div class="button"><a class="admin_button btn"href="{{ url_for('users.update_contacts')}}">Edit your contact details</a> </div>
  
    
    
</div>



{% endblock content %}
