{% extends 'layout.html' %}
{% block head %}
<style>
    .buttons{
        display:flex;
    }

    .admin_button{
        padding:2vw;
    }

</style>
{% endblock %}


{% block header%}

{% endblock %}

{% block content %}
<div class="buttons">
    <div class="admin_button"><a href="{{ url_for('users.account')}}">Edit your account</a></div>
    <div class="admin_button"><a href="{{ url_for('users.edit_about')}}">Edit your About_me</a></div>
    <div class="admin_button"><a href="{{ url_for('users.edit_about')}}">Add a project</a></div>
</div>



{% endblock content %}
