{% extends 'layout.html' %}
{% block head %}{% endblock %}


{% block header%}
<section id="heading">
    <div class="slider-overlay"></div>
    <div class="homeslider flexslider">
        <ul class="slides">
            <li class="slide1 bg" style='display: list-item;'></li>
        </ul>
    </div>
    <div class="banner">
        <div class="bannerContent">
            <div class="slide-text">
               <div class="col-md-12 header-main">
                <h2>Jaden Shek</h2>
                <div id="slider" class="carousel slide" style="max-width: 100%; margin: 0px auto;" data-ride="carousel">
                    <div class="bx-viewport carousel-inner" style="width: 100%; overflow: hidden; position: relative; height: 53px;">
                        <div class="text-slider" style="width: auto; position: relative;">
                            
                            <div class="carousel-item active" style="float: none; position: absolute; width: 100%;" data-interval="7000">
                                <h3>Student</h3>
                            </div>
                            {% for item in slider %}
                            <div class="carousel-item" style="float: none; position: absolute; width: 100%;" data-interval="7000">
                                <h3>{{item}}</h3>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                </div>
             <div class="header-social intro-btn-main">
                    <a class="btn btn-primary" id='github' href="https://github.com/Bombearo">
                        <svg id="i-github" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32" height="32">
                            <path stroke-width="0" fill="currentColor" d="M32 0 C14 0 0 14 0 32 0 53 19 62 22 62 24 62 24 61 24 60 L24 55 C17 57 14 53 13 50 13 50 13 49 11 47 10 46 6 44 10 44 13 44 15 48 15 48 18 52 22 51 24 50 24 48 26 46 26 46 18 45 12 42 12 31 12 27 13 24 15 22 15 22 13 18 15 13 15 13 20 13 24 17 27 15 37 15 40 17 44 13 49 13 49 13 51 20 49 22 49 22 51 24 52 27 52 31 52 42 45 45 38 46 39 47 40 49 40 52 L40 60 C40 61 40 62 42 62 45 62 64 53 64 32 64 14 50 0 32 0 Z" />
                        </svg>
                    </a>
             </div>
             <div class="intro-btn-main">
             <a class="btn btn-primary" href='{{ url_for("portfolio.tutoring") }}'>Tutoring</a>
             <a class="btn btn-primary" href="#projects">Portfolio</a>
             </div>
            </div>
           </div>
        </div>
    </div>
</section>

{% endblock %}

{% block content %}
    <section class = 'main_content container'>
        <section id='{{about_me.title}}' class='container'>
            <!--About-->
            <div class="anchor_grid">
                <a id = "{{about_me.id}}" class='nav-skip' href=""></a>
                <div class="content" id='about_me'>
                    <div class="image">
                        <div id="circle">
                            <img src="{{ url_for('static', filename = 'images/Pfp.png') }}" alt="My Profile!" width='100%'>
                        </div>
                    </div>
                    <div class='text'>
                        <h2>{{about_me.title}}</h2>
                        <p class ='introduction'>{{about_me.first_line}}</p>
                        {% for text in about_me.content%}
                            <p class = 'about_me_content'>{{text}}</p>
                        {% endfor %}
                    </div>
                    <div class="shortcuts">
                        <button type = 'button' class="btn btn-primary"><a href="#projects">Portfolio</a></button>
                        <button type = 'button' class="btn btn-primary"><a href="#">Contact Me</a></button>
                        <button type = 'button' class="btn btn-primary"><a href="https://exercism.io/profiles/Bombearo">Exercism Profile</a></button>
                    </div>
                </div>
            </div>
        </section>

        <section id='my_projects' class = 'container'>
            <div class = 'anchor_grid'>
                <!--Projects-->
                <a id = "projects" class='nav-skip' href = '' height='5vh'></a>
                <div class="content">
                    <h2>Projects</h2>
                    {% for i in range(5) %}
                    <div class="work row">
                        <div class="image">
                            <img src="{{ url_for('static', filename='images/Temp_Background.jpg') }}" alt="Work image" width='100%' height='auto'>
                        </div>
                        <div class="work_content">
                            <div class='work_heading'>
                                <h4>Temp Title</h4>
                                <a href="">Link To Github</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id dictum nisi, eget malesuada ipsum. Nam nec metus a metus cursus gravida ut ac orci. Sed malesuada sem sit amet ex lobortis, eget faucibus arcu semper. Duis vitae lacus nec ipsum posuere congue sit amet at lacus. Sed arcu nulla, commodo sed nisi sed, consectetur convallis neque. Donec gravida gravida urna, vitae ultrices libero tempus accumsan. Etiam commodo commodo lacinia. Quisque lacinia cursus nisl at porttitor. Morbi ornare venenatis lectus non mollis. Proin ac magna blandit eros pellentesque mattis ultricies vitae enim. In euismod, turpis a ultrices luctus, sem risus vestibulum sem, vitae bibendum magna justo sed justo.</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section>
            <!--Experience and Study-->
            {% for i in range(5) %}
                <h1>{{i}}</h1>
            {% endfor %}
        </section>
        <section id='contact_me' class='container'>
            <!--Contact Me-->
            <div class="anchor_grid">
                <a href="" id="contact" class="nav-skip" height='5vh'></a>
                <div class="content">
                    <h2>Contact Me</h2>
                    <div class="contact_info" id="email">
                        <div style='display:flex;'>
                            <div class="icon">
                                <div id="circle_icon">
                                    <ion-icon id='mail_icon' name="mail-outline"></ion-icon>
                                </div>
                                
                            </div>
                            <div class="icontext"><a href="mailto:shekjaden@gmail.com">shekjaden@gmail.com</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


{% endblock %}